In [2]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

print("Setup Complete")

Setup Complete

In [3]:
#merging all positive datasets
df1 = pd.read_csv("IRAhandle_tweets_1[1].csv")
df2 = pd.read_csv("IRAhandle_tweets_2[1].csv")
df3 = pd.read_csv("IRAhandle_tweets_3[1].csv")
df4 = pd.read_csv("IRAhandle_tweets_4[1].csv")
df5 = pd.read_csv("IRAhandle_tweets_5[1].csv")
df6 = pd.read_csv("IRAhandle_tweets_6[1].csv")
df7 = pd.read_csv("IRAhandle_tweets_7[1].csv")
df8 = pd.read_csv("IRAhandle_tweets_8[1].csv")
df9 = pd.read_csv("IRAhandle_tweets_9[1].csv")

pos_tweets_full = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9], axis = 0)
pos_tweets_full

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37550,3.093874e+09,_YOUR_LIFESTYLE,Санкционный пинг-понг http://t.co/Jz06cndR8q,Unknown,Uzbek,9/7/2015 1:31,9/7/2015 1:31,60,4,412,NaN,Russian,0,0,NonEnglish
37551,3.093874e+09,_YOUR_LIFESTYLE,Горизонтальный кальян NanoSmoke http://t.co/rL...,Unknown,Russian,9/8/2015 14:49,9/8/2015 14:49,60,4,416,NaN,Russian,0,0,NonEnglish
37552,3.093874e+09,_YOUR_LIFESTYLE,Фотограф Kai-Hendrik Schroeder http://t.co/q0x...,Unknown,Russian,9/9/2015 18:52,9/9/2015 18:52,60,4,418,NaN,Russian,0,0,NonEnglish
37553,3.093874e+09,_YOUR_LIFESTYLE,К чему стремится компания Netflix (США) http:/...,Unknown,Russian,9/9/2015 22:26,9/9/2015 22:27,60,4,419,NaN,Russian,0,0,NonEnglish
37554,3.093874e+09,_YOUR_LIFESTYLE,В Петербурге появилось вегетарианское кафе в к...,Unknown,Russian,9/9/2015 8:17,9/9/2015 8:17,60,4,417,NaN,Russian,0,0,NonEnglish

In [5]:
#removing all non-English tweets
pos_tweets = pos_tweets_full.loc[pos_tweets_full.language == 'English']
pos_tweets = pos_tweets.sample(frac = 1)
pos_tweets

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
162563,1.665377e+09,ELIASBRICK,#BlackLivesMatter here's your girl! https://t....,United States,English,6/17/2016 13:32,6/17/2016 13:32,787,413,1261,QUOTE_TWEET,left,0,1,LeftTroll
204953,2.570017e+09,ONLINEMEMPHIS,Subway crash in railyard injured 4 near Philad...,United States,English,2/21/2017 19:59,2/21/2017 19:59,5703,18564,6988,NaN,local,0,0,NewsFeed
305777,1.680366e+09,WILLISBONNERR,"Don't fuss about #God, Trust God.",United States,English,1/28/2017 9:51,1/28/2017 9:51,693,716,3167,RETWEET,left,0,1,LeftTroll
395946,2.494112e+09,DAILYSANJOSE,San Jose: Hazmat crews treat 10 after leak of ...,United States,English,5/4/2016 18:44,5/4/2016 18:44,4506,12773,17431,NaN,local,1,0,NewsFeed
184210,2.601236e+09,TODAYPITTSBURGH,Shari Rogers steps down after 52 years teachin...,United States,English,6/8/2015 18:29,6/8/2015 18:29,5912,12290,9603,NaN,local,0,0,NewsFeed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254069,3.071480e+09,BALTIMORE0NLINE,Union official: Cleveland police officer hit o...,United States,English,1/24/2017 14:48,1/24/2017 14:48,5229,6414,12986,NaN,local,0,0,NewsFeed
102012,1.679279e+09,AMELIEBALDWIN,Somebody is trying to stop the insane US Neoco...,United States,English,10/6/2016 23:09,10/6/2016 23:09,1944,2430,12782,RETWEET,Right,0,1,RightTroll
44938,1.039581e+09,DARKNALLY,Foke UK weather sees thick fog cause travel ch...,United States,English,10/31/2016 12:49,10/31/2016 12:50,40,22,22874,NaN,news,0,0,NewsFeed
15282,1.718001e+09,BOOTH_PRINCE,#ILoveMyFriendsBut they always wait for me to ...,United States,English,6/8/2016 14:23,6/8/2016 14:25,2780,2038,3410,RETWEET,Hashtager,1,1,HashtagGamer
25209,2.530830e+09,NEWORLEANSON,Louisiana to pay $15 million for solar tax cre...,United States,English,6/29/2017 21:40,6/29/2017 21:41,9739,28603,46152,NaN,local,0,0,NewsFeed

In [6]:
#extracting the content of the final positive dataset
pos_tweets = pd.DataFrame(pos_tweets, columns = ['content'])

#labelling them as 1 (bot)
pos_tweets['label'] = 1

pos_tweets = pos_tweets.iloc[:10000]
pos_tweets

                                                  content  label
162563  #BlackLivesMatter here's your girl! https://t....      1
204953  Subway crash in railyard injured 4 near Philad...      1
305777                  Don't fuss about #God, Trust God.      1
395946  San Jose: Hazmat crews treat 10 after leak of ...      1
184210  Shari Rogers steps down after 52 years teachin...      1
...                                                   ...    ...
343984  Lose weight working done @ScouseBirdProbs @val...      1
327955  After calling for charges in Venice shooting, ...      1
217154  I don't need someone who thinks I'm perfect, c...      1
276602  When does the switch come on for LSU? In-game ...      1
141463  The idea of there being only ONE soulmate out ...      1

[10000 rows x 2 columns]

In [48]:
#converting negative dataset from its .txt file type to .csv format
neg_tweets = pd.read_csv("tweets-2016-10000-textonly.txt", delimiter = '\t', header = None)
neg_tweets.columns = ['content']
neg_tweets.to_csv("tweets-2016-10000-textonly.csv", index = None)

#labelling negative tweets as 0 (non-bot)
neg_tweets['label'] = 0

neg_tweets

                                                content  label
0     Leaked records show Trump may have avoided tax...      0
1     Donald Trump vs. Hillary Clinton Debate Cold O...      0
2     @realDonaldTrump The need is to blow off the "...      0
3     US-Medien: Trump zahlte womöglich jahrelang ke...      0
4     #amjoy #cnn #msnbc #Trump has 2 words for #dep...      0
...                                                 ...    ...
7574  Since 1986-2016(30Years) =20Years Republican A...      0
7575  Onlooker repeatedly yells ‘Bill Clinton is a r...      0
7576  I'm having a very hard time right now in sever...      0
7577  Between #trump, Giuliani, Ailes they have 10 d...      0
7578  Larry David brings Bernie Sanders back to ‘SNL...      0

[7579 rows x 2 columns]

In [49]:
#merging the newly formed datasets containing positive and negative tweets
df_final = pd.concat([pos_tweets, neg_tweets], axis = 0)
df_final

                                                  content  label
148736  The NAACP announces a potential legal challeng...      1
278342  SPCA Asks for Help After Deadly Crash https://...      1
344205  #kah WOW! Trump Promises Kim Jong Un “Fire and...      1
233810  Knocked up?.....good luck with that! #SelfishF...      1
126519  Yes, @HillaryClinton was once again, behind & ...      1
...                                                   ...    ...
7574    Since 1986-2016(30Years) =20Years Republican A...      0
7575    Onlooker repeatedly yells ‘Bill Clinton is a r...      0
7576    I'm having a very hard time right now in sever...      0
7577    Between #trump, Giuliani, Ailes they have 10 d...      0
7578    Larry David brings Bernie Sanders back to ‘SNL...      0

[17579 rows x 2 columns]

In [50]:
#shuffling the rows of the final merged dataset containing all positive and negative datasets
df_final = df_final.sample(frac = 1).reset_index(drop = True)
df_final

                                                 content  label
0      Giuliani: Tax report proves Trump is a 'genius...      0
1      #Trump in 2016 Temp:Crab Orchard, Ky.":62.1°F ...      0
2      Iconic Charcoaler hamburger brand can be yours...      1
3      New audio: Clinton refers to Sanders fans as f...      0
4      Can I make money sleeping please @SYeckering @...      1
...                                                  ...    ...
17574  .@cavs defeat Boston in the Eastern Conference...      1
17575  So how do you explain Trump’s continued popula...      0
17576  Time is running short for opponents of GMO lab...      1
17577  #IGetDepressedWhen I have to pay rent https://...      1
17578  NIHAR REPORT: HE JUST PUFFED UP HIS CHEEKS AND...      1

[17579 rows x 2 columns]

In [51]:
#Saving the updated dataframe
df_final.to_csv("Final dataset.csv")
df_final

                                                 content  label
0      Giuliani: Tax report proves Trump is a 'genius...      0
1      #Trump in 2016 Temp:Crab Orchard, Ky.":62.1°F ...      0
2      Iconic Charcoaler hamburger brand can be yours...      1
3      New audio: Clinton refers to Sanders fans as f...      0
4      Can I make money sleeping please @SYeckering @...      1
...                                                  ...    ...
17574  .@cavs defeat Boston in the Eastern Conference...      1
17575  So how do you explain Trump’s continued popula...      0
17576  Time is running short for opponents of GMO lab...      1
17577  #IGetDepressedWhen I have to pay rent https://...      1
17578  NIHAR REPORT: HE JUST PUFFED UP HIS CHEEKS AND...      1

[17579 rows x 2 columns]